---
layout: default
---
{% capture blogrollselections %}{% randomsort site.blogroll blogrollselections %}{% endcapture %}
<h1>Notable Links</h1>

There's a wealth of great blogs, podcasts, and sites devoted to virtualization in general and even storage virtualization in specific. In no particular order, here's many of my favorites:

<ul>
  {% for link in blogrollselections %}
    <li class="blogroll-list-item"><a href="link.url">{{ link.name }}</a> <span class="blogroll-subtitle">{{ link.subtitle }}</span></li>
  {% endfor %}
</ul>
