// Breakpoints
// Uses include-media (http://include-media.com)
$breakpoints: (
  'x-small': 320px,
  'small':   375px,
  'medium':  640px,
  'large':   768px,
  'x-large': 1080px
) !default;

// Typography
$base-font-family:    'Metropolis';
$heading-font-family: 'Fira Sans';

// Font Sizes
$base-font-size: 20px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 4;
$base-border-radius: $base-spacing / 4;
$base-z-index: 0;

// Scheme Choices
// For the colors, try http://www.materialpalette.com and check _palette.scss
$base-background-color:    color(white);
$base-font-color:          text-color(dark, primary);
$primary-color:            color(brown, darken-2);
$primary-alternate1-color: color(brown);
$primary-alternate2-color: color(brown, darken-3);
$accent-color:             color(orange, accent-4);
$accent-fallback1-color:   color(orange, accent-2);
$accent-fallback2-color:   color(orange, accent-3);
$action-color:             $accent-color;
$action-alternate-color:   $accent-fallback1-color;

// Border
$divider-color:     adjust-color(color(black), $alpha: -.62);
$base-border-color: $divider-color;
$base-border:       1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
