<div class="sliding-panel-fade-screen"></div>

<div class="sliding-panel-content">
  <div class="search">
    <form action="get" id="search_form">
      <input type="search" class="search_box" title="Search this site" placeholder="{{ site.search_placeholder }}" autocomplete="off">
    </form>
    <div class="search-results">
      <span class="close-button"></span>
      <span class="results-count"></span>
      <ol class="search-results-list"></ol>
    </div>
  </div>

  <nav class="site-nav">
    <ul>
      {% if site.menuitem_articles %}<li><a class="page-link {% if site.menuicons %}fa fa-file-text-o{% endif %}" href="/articles.html">Articles</a></li>{% endif %}
      {% if site.menuitem_tags %}<li><a class="page-link {% if site.menuicons %}fa fa-tags{% endif %}" href="/tag/">Tags</a></li>{% endif %}
      {% for page in site.pages %}
        {% if page.menuitem and page.title %}
          <li><a class="page-link {% if site.menuicons and page.icon %}fa fa-{{page.icon}}{% endif %}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
      {% if site.menuitem_linkpage %}<li><a {% if site.menuicons %}class="fa fa-external-link"{% endif %} href="/links/">Links</a></li>{% endif %}
      {% if site.menuitem_social %}
        {% if site.rss_title %}<li><a href="{{ site.baseurl }}/feed.xml" class="fa fa-rss">Subscribe</a></li>{% endif %}
        {% if site.twitter_username %}<li><a {% if site.menuicons %}class="fa fa-twitter"{% endif %} href="https://twitter.com/{{ site.twitter_username }}" target="twitter-{{ site.twitter_username }}">Twitter</a></li>{% endif %}
        {% if site.github_username %}<li><a {% if site.menuicons %}class="fa fa-github"{% endif %} href="https://github.com/{{ site.github_username }}" target="github-{{ site.github_username }}">GitHub</a></li>{% endif %}
        {% if site.gitlab_username %}<li><a {% if site.menuicons %}class="fa fa-gitlab" {% endif %} href="https://gitlab.com/{{ site.gitlab_username }}" target="gitlab-{{ site.gitlab_username }}">GitLab</a></li>{%
        endif %}
        {% if site.linkedin_username %}<li><a {% if site.menuicons %}class="fa fa-linkedin"{% endif %} href="https://linkedin.com/in/{{ site.linkedin_username }}" target="linkedin-{{ site.linkedin_username }}">LinkedIn</a></li>{% endif %}
      {% endif %}
    </ul>
  </nav>
</div>
