<footer class="post-footer">
  {% if page.tags %}
    <ul class="tags">
      {% for tag in page.tags %}
        <li><a href="/{{ site.tag_page_dir}}/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>

    {% elsif post.tags %}
      <ul class="tags">
        {% for tag in post.tags %}
          <li class="tooltip-item">
            <div class="tooltip">
              <div class="tooltip-content">
                View all posts tagged with "{{ tag }}"
              </div>
            </div>
            <a href="/{{ site.tag_page_dir}}/{{ tag }}">{{ tag }}</a>
          </li>
        {% endfor %}
      </ul>
  {% endif %}

  {% if site.relatedposts_display %}
    {{ site.related_posts }}
  {% endif %}

  {% if page.comments %}
    <div class="comments">
      {% if site.disqus_shortname %}{% include disqus_embed.html %}{% endif %}
    </div>
  {% endif %}
</footer>
