<header class="post-header">
  <h1 class="post-title">
    {% if post.title %}
      <a title="Permalink to {{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    {% elsif page.title %}
      <a title="Permalink to {{ page.title }}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  </h1>
  <ul class="post-meta-header">
    {% if post.date %}
      <li>{{ post.date | date: "%B %-d, %Y" }}</li>
    {% elsif page.date %}
      <li>{{ page.date | date: "%B %-d, %Y" }}</li>
    {% endif %}
    {% if post.topic or page.topic %}
      {% if post.topic %}
        {% assign articletopic = post.topic %}
      {% else %}
        {% assign articletopic = page.topic %}
      {% endif %}
      <li>
        {% if site.topic_link %}
          {% if post.date or page.date %}in{% endif %}
          {% if site.topics_are_tags %}
             “<a href="/tag/{{ articletopic|downcase }}">
          {% else %}
             “<a href="/topic/{{ articletopic|downcase }}">
          {% endif %}
          {{ articletopic }}</a>”
        {% else %}
          “{{ articletopic }}”
        {% endif %}
      </li>
    {% endif %}

    {% if post.updated %}
      <li>Updated: {{ post.date_time_updated_html | timeago }}</li>
    {% elsif page.updated %}
      <li>Updated: {{ page.date_time_updated_html | timeago }}</li>
    {% endif %}

    {% if page.meta %} <li>{{ page.meta }}</li> {% endif %}

    {% if site.readtime_display %} {% include readtime.html %} {% endif %}

    {% if site.nowlistening_display %}
      {% if page.nowlistening or post.nowlistening %} {% include nowlistening.html %} {% endif %}
    {% endif %}
  </ul>
</header>

{{ post.topics }}
