<li class="readtime tooltip-item">
  <div class="tooltip">
    <div class="tooltip-content">
      Estimated reading time
    </div>
  </div>

  {% if site.readtime_title == "icon" %}
    <span class="readtime-title fa fa-clock-o">
  {% else %}
    <span class="readtime-title">{{ site.readtime_title }}
  {% endif %}
  </span>

  {% if post.content %}
    {% assign readtime = post.content | reading_time %}
  {% elsif content %}
    {% assign readtime = content | reading_time %}
  {% endif %}
  {% if readtime == 1 %}less than a minute
  {% else %}about {{ readtime | apnumber }} minute{% unless readtime == 1 %}s{% endunless %}{% endif %}
</li>
