<header class="site-header">
  <button class="fa fa-bars sliding-panel-button"></button>
  <div class="headers">
    <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
    <h2 class="site-subtitle">
      {% if site.subtitle_link %}
        <a href="{{ site.subtitle_link }}">{{ site.subtitle }}</a>
      {% else %}
          {{ site.subtitle }}
      {% endif %}</h2>
  </div>
</header>
