<footer class="site-footer">
  <!-- Get an integer representing the number of posts -->
  {% capture postcount %}{{ site.posts | size }}{% endcapture %} {% assign postcount = postcount | plus: 0 %}

  {% if site.recentposts_display %}
    {% if site.blogroll_display == false %}
      <aside class="recentposts-fullwidth">
    {% else %}
      <aside class="recentposts">
    {% endif %}
      {% if site.recentposts_title and postcount > 1 %}<h2>{{ site.recentposts_title }}</h2>{% endif %}
      <ul class="post-list-footer">
        <!-- Hide recent posts lists if there's only one article -->
        {% if postcount > 1 %}
          {% for post in site.posts limit:site.recentposts_shortcount %}
            {% if post.title == page.title %}
              {% capture shortcount %}{{ site.recentposts_shortcount }}{% endcapture %}
              {% assign shortcount = shortcount | plus: 1 %}
              {% break %}
            {% elsif forloop.first and page.url == "/" %}
              {% capture shortcount %}{{ site.recentposts_shortcount }}{% endcapture %}
              {% assign shortcount = shortcount | plus: 1 %}
              {% break %}
            {% else %}
              {% assign shortcount = site.recentposts_shortcount | plus: 0 %}
            {% endif %}
          {% endfor %}

          {% for post in site.posts limit:shortcount %}
            <!-- If displaying from the index page, don't list the most recent post, because it's already being displayed -->
            {% unless forloop.first and page.url == "/index.html" or forloop.first and page.url == "/" %}
              <!-- Make sure the post listed isn't the one being displayed on the current page -->
              {% if post.url != page.url %}
                {% include articlelist.html %}
              {% endif %}
            {% endunless %}
          {% endfor %}
        {% endif %}
        {% if postcount > site.recentposts_shortcount %}
          <li><a class="readmore" href="{% if site.baseurl == '' %}/{% else %}{{ site.baseurl }}{% endif %}articles.html">More...</a></li>
        {% endif %}
      </ul>
    </aside>
  {% endif %}

  {% if site.blogroll_display %}
    {% if site.recentposts_display == false or postcount < 2 %}
      <aside class="blogroll-fullwidth">
    {% else %}
      <aside class="blogroll">
    {% endif %}

    {% if site.blogroll_title %}<h2>{{ site.blogroll_title }}</h2>{% endif %}
    <ul class="blogroll-list">
      {% capture blogrollselections %}{% randomsort site.blogroll blogrollselections %}{% endcapture %}
      {% for link in blogrollselections limit:site.blogroll_footer_count %}
        <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a>{% if link.subtitle %}<span class="subtitle"> {{ link.subtitle }}</span>{% endif %}</li>
      {% endfor %}
      {% capture blogrollcount %}{{ site.blogroll | size }}{% endcapture %}
      {% assign blogrollcount = blogrollcount | plus: 0 %}
      {% if blogrollcount > site.blogroll_footer_count %}
        <li><a class="readmore" href="{% if site.baseurl == '' %}/{% else %}{{ site.baseurl }}{% endif %}links.html">More...</a></li>
      {% endif %}
    </ul>
    </aside>
  {% endif %}
  <p class="site-info">
    powered by <a href="http://jekyllrb.com">Jeykll</a>
    {% if site.license_display %}
      <span class="license">content is <a href="{{ site.license_url }}">{{ site.license_title }}</a></span>
    {% endif %}
  </p>
  {% include social_links.html %}
</footer>
