$content-grid: (
  columns: 12,
  gutter: 20px,
);

.content-wrapper {
  @include grid-column(11);
  @include grid-shift(.5);

  height: 100%;
  margin-bottom: 15vh;
  min-height: 80vh;
  // padding-top: 1rem;
}

.fa::before { font-family: FontAwesome !important; }

.content {
  @include grid-collapse($content-grid);
  @include grid-container;
  @include media('<large') { font-size: $base-font-size * .6; }

  p { clear: left; }

  h1 {
    @include grid-column(12, $content-grid);
    @include margin(.5rem null);
    font-size: $base-font-size * 1.5;
    @include media('<large') { font-size: $base-font-size * .9; }

    &:not(.post-title) {
      text-align: center;
    }
  }

  h2 {
    font-size: $base-font-size * 1.2;
    font-weight: bold;
    margin: 1.25em 0 0 0;
  }

  h3 {
    font-size: $base-font-size * 1.1;
    font-weight: bold;
    margin: 1.25em 0 0 0;
  }

  hr {
    border-bottom: 1px dotted $divider-color;
    border-radius: 15px;
    height: 15px;
    margin: -.5em 0 .75em 0;
    padding: 0;
  }

  header,
  article {
    @include grid-column(12, $content-grid);
  }

  .post-content {
    border-bottom: 1px dotted $divider-color;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding-bottom: .5em;
  }

  blockquote {
    @include grid-column(10, $content-grid);
    @include grid-shift(1, $content-grid);
    @include media('<large') {
      font-size: $base-font-size * .5;
    }
    border-left: 1px dotted $divider-color;
    border-radius: 15px;
    color: text-color(dark, secondary);
    font-style: italic;
    @include margin(.5em null);
    padding-left: 1em;
  }

  .pullquote {
    @include grid-column(4, $content-grid);
    @include media('<large') {
      @include grid-column(3, $content-grid);
      font-size: $base-font-size * .5;
    }
    border-left: 1px dotted $divider-color;
    border-radius: 15px;
    color: text-color(dark, secondary);
    float: right !important;
    font-size: $base-font-size * .9;
    line-height: $base-line-height * .9;
    padding: .33em .5em;

    &::before {
      content: open-quote attr(data-pullquote) close-quote;
    }
  }

  figure {
    @include grid-column(10, $content-grid);
    @include grid-shift(1, $content-grid);

    img {
      @include media('<large') {
        max-height: 33vh;
        width: auto;
      }

      display: block;
      height: auto !important;
      margin: auto;
    }

    figcaption {
      @include grid-column(8, $content-grid);
      @include grid-shift(2, $content-grid);
      @include media('<large') {
        font-size: $base-font-size * .5;
      }
      border-top: 1px dotted $divider-color;
      border-radius: 15px;
      color: text-color(dark, secondary);
      font-size: $base-font-size * .8;
      font-style: italic;
      margin-top: 1rem;
      padding: 1rem;
      text-align: center;
    }

    &.figure-aside {
      @include grid-column(4, $content-grid);
      @include grid-shift(0, $content-grid);

      float: right;

      figcaption {
        border: none;
        padding: 0;
      }
    }
  }

  ul:not(.tags):not(.post-meta-header) {
    @include margin(1rem null);
    list-style-type: none;

    li:not(.article-list-item):not(.post-meta li):not(.post-meta-header li):not(.blogroll-list-item) {
      padding-left: 1rem;

      &::before {
        // @extend .fa;
        color: text-color(dark, icon);
        content: ('\f0da');
        padding-right: .25rem;
      }
    }
  }

  ol {
    counter-reset: li;
    margin-left: .5em;

    li {
      counter-increment: li;
      list-style-type: none;

      &::before {
        color: text-color(dark, secondary);
        content: counter(li) '.';
        margin-right: .33em;
      }
    }

    ol {
      li::before { content: counter(li, upper-alpha) '.'; }

      ol li::before { content: counter(li, lower-roman) '.'; }
    }
  }

  dt {
    font-family: $heading-font-family;
    font-size: $base-font-size;
    font-weight: bold;
    margin: 1.25em 0 0 0;
  }

  dd {
    margin: 0 0 .5em 1em;

    &::before {
      color: text-color(dark, icon);
      content: ('\f0da');
      font-family: FontAwesome;
      font-size: $base-font-size * .9;
      padding-right: .5rem;
    }
  }

  details {
    margin-bottom: 1em;

    summary {
      cursor: pointer;

      h2,
      h3 {
        color: $action-color;
        margin: 0;
      }

      address {
        font-style: italic;
      }

      &::-webkit-details-marker {
        display: none;
      }
    }
  }

  .post-meta {
    @include media('<large') { font-size: $base-font-size * .7; };
    @include margin(0 null 1rem null);
    border-bottom: 1px dotted $divider-color;
    border-radius: 15px;
    color: text-color(dark, secondary);
    display: inline-block;
    font-size: $base-font-size * .9;
    @include padding(null .5em);

    * {
      display: inline-block;
    }

    li {
      @include padding(null .25em);
      padding: 0;

      &::before {
        content: ('•');
        @include media('<large') { content: (''); }
        padding-right: .25em;
      }

      &:first-child::before,
      &:nth-child(2)::before {
        content: none;
      }

      a {
        color: $accent-fallback1-color;
      }
    }

    .fa { color: text-color(dark, icon); }
  }

  .post-meta-header {
    @extend .post-meta;
    @include grid-column(12, $content-grid);
    @include media('<large') {
      border: none;
      font-size: $base-font-size * .5;

      li {
        padding: 0;
        text-align: left;
        width: 100%;
      }
    };
  }

  .comments {
    @include grid-column(11.5);
    @include grid-shift(.25);
    margin-top: 1rem;

    .twitter-share {
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}

.post-list {
  @include grid-column(10, $content-grid);
  @include grid-shift(1, $content-grid);

  .postmeta {
    @include grid-column(10, $content-grid);
    @include grid-shift(1, $content-grid);
  };
}

.article-list-item {
  clear: left;
  list-style-type: none;
  padding: 1rem 0;

  img {
    border-radius: 100%;
    display: inline-block;
    margin-right: .5em;
  }

  h3 {
    display: inline-block;
    margin: 0;

    @include media('<large') { display: block; }
  }
  .post-meta {
    border-bottom: 0;
    margin: 0 !important;
  }
}

.blogroll-list-item {
  @extend .article-list-item;
  padding: 0;

  .blogroll-subtitle::before {
    content:(' - ')
  }
}
