$neat-grid: (
  columns: 12,
  gutter: 20px,
);

body {
  @include grid-container;
  // @include grid-visual;
  quotes: "“" "”" "‘" "’";
}

#{$all-buttons} {
  border-radius: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}
