.site-footer {
  @include grid-container;
  background-color: $primary-alternate2-color;
  background-image: url(asset_path('theme/wasteland.jpg'));
  background-size: cover;;
  box-shadow: 0 -.25rem .33rem rgba(0, 0, 0, .26);
  clear: both;
  color: text-color(light);
  padding-top: 2rem;

  a {
    color: $action-alternate-color;
  }
}

aside {
  margin-bottom: 1.5rem;

  &.recentposts {
    @include grid-column(7);
    @include media('<large') { font-size: $base-font-size * .7; }
    @include media('<medium') {
      @include grid-column(12);
      clear: both;
    };

    h3 {
      display: block;
      font-size: $base-font-size;
      @include media('<large') { font-size: $base-font-size * .7; }
      font-weight: normal;
    }

    img { float: left; }

    .post-meta {
      display: inline-block;

      li {
        display: inline-block;
        font-size: $base-font-size * .7;
        @include media('<large') { font-size: $base-font-size * .6; }
        padding: 0;

        &::before {
          content: ('•');
          padding-right: .25rem;
        }

        &:first-child::before {
            content: '';
        }
      }
    }
  }

  &.recentposts-fullwidth {
    @extend .recentposts;
    @include grid-column(12);
  }

  &.blogroll {
    @include grid-column(5);
    @include media('<large') { font-size: $base-font-size * .7; }
    @include media('<medium') {
      @include grid-column(12);
      clear: both;
    };

    a:not(.readmore)::after {
      @include media('<medium') { content: none; }
      content:(':');
    }

    .subtitle {
      @include media('<large') { font-size: $base-font-size * .5; }
      @include media('<medium') { display: none; }

      display: block;
      font-size: $base-font-size * .9;
    }
  }

  &.blogroll-fullwidth {
    @extend .blogroll;
    @include grid-column(12);
  }

  .readmore {
    @include media('<large') { font-size: $base-font-size * .7; }

    font-size: $base-font-size * .9;
  }
}

.site-info {
  @include grid-column(10);
  @include media('<large') { font-size: $base-font-size * .6; }
  font-size: $base-font-size * .7;
}

.license {
  &::before { content: '• '; }
  @include media('<medium') {
    &::before { content: ''; }
    display: block;
  }

  @include media('<large') { font-size: $base-font-size * .6; }
  font-size: $base-font-size * .7;
}
