.site-header {
  @include grid-container;
  background-color: $primary-color;
  background-image: url(asset_path('theme/wasteland-header.jpg'));
  background-size: cover;
  box-shadow: 0 .25rem .33rem rgba(0, 0, 0, .26);
  color: text-color(light);
  padding-bottom: .5rem;

  * {
    margin-bottom: 0;
  }

  .headers {
    @include grid-column(11);
    @include grid-push(-.6);
    @include media('<large') { @include grid-column(10.5); };

    display: inline-block;

    * {
      display: inline-block;
    }

    a {
      color: inherit;
    }
  }

  .site-title {
    font-size: $base-font-size * 2;
    padding-right: .1em;
    @include media('<large') { font-size: $base-font-size * 1.5; }
  }

  .site-subtitle {
    @include media('<x-large') { font-size: $base-font-size; }
    @include media('<medium') { display: none; }
    color: text-color(light, secondary);
    font-size: $base-font-size * 1.5;
    font-style: italic;
    font-weight: normal;
  }
}
