// Based on code by Diego Eis
.sliding-panel-button {
  @include grid-column(1);

  background: none;
  color: text-color(light, secondary);
  font-size: $base-font-size * 1.33 !important;
  @include media('<large') {
    font-size: $base-font-size * 1 !important;
  }
  padding-top: .5em;
  text-align: left;
  transition: color .25s linear;

  &::before {
    font-family: FontAwesome;
  }

  &:hover {
    background-color: transparent;
    color: text-color(light);
  }
}

.sliding-panel-content {
  @include position(fixed, 0 auto 0 0);
  -webkit-overflow-scrolling: touch;
  background-color: $primary-color;
  background-image: url(asset_path('theme/wasteland.jpg'));
  background-size: cover;
  box-shadow: .5rem 0 .33rem -.25rem rgba(0, 0, 0, .26);
  height: 100%;
  min-width: 25%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform .25s linear;
  z-index: 999999;

  &.is-visible { transform: translateX(0); }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0 0 0 0);
  background: #000;
  opacity: 0;
  transition: opacity .25s linear, visibility .25s linear;
  visibility: hidden;
  z-index: 10;

  &.is-visible {
    opacity: .4;
    visibility: visible;
  }
}

.sliding-panel-close {
  cursor: pointer;
}

.site-nav {
  @include media('<large') {
    font-size: $base-font-size * .9;
  };
  font-size: $base-font-size * 1.33;
  margin-top: 2rem;
  padding-left: 1rem;
  position: relative;

  a {
    color: text-color(light);
    font-family: $base-font-family;
    text-transform: lowercase;

    &.fa:before {
      font-family: FontAwesome;
      font-size: $base-font-size;
      padding-right: .7rem;
    }
  }
}
