.search {
  color: text-color(light);
  margin-top: .55rem;
  position: relative;

  input {
    @include media('<large') {
      font-size: $base-font-size * .8;
    }
    background-color: transparent;
    border: 0;
    border-bottom: 2px dotted text-color(light, hint);
    border-radius: 15px;
    font-size: $base-font-size * 1.1;
    height: 2rem;
    outline: none;
    padding-left: .5rem;
    width: 100%;

    &::-webkit-input-placeholder {
      color: text-color(light);
      font-family: FontAwesome;
      line-height: 100%;
    }
    &::-moz-placeholder {
      color: text-color(light);
      font-family: FontAwesome;
      line-height: 100%;
    }
    :-moz-placeholder {
      color: text-color(light);
      font-family: FontAwesome;
      line-height: 100%;
    }
    :-ms-placeholder {
      color: text-color(light);
      font-family: FontAwesome;
      line-height: 100%;
    }

    &:focus {
      &::-webkit-input-placeholder { color: transparent; };
      &::-moz-placeholder { color: transparent; };
      &:-moz-placeholder { color: transparent; };
      &:-ms-placeholder { color: transparent; };
    }
  }

  .search-results {
    @include media('<large') {
      font-size: $base-font-size * .6;
    }
    background-color: $primary-color;
    background-image: url(asset_path('theme/scotland.jpg'));
    background-size: cover;
    font-size: $base-font-size;
    line-height: normal;
    height: 0;
    max-height: 0;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    transition: all .5s cubic-bezier(0, 1, 0.5, 1);
    z-index: 11;
    overflow-y: hidden;

    &.active {
      height: 100vh;
      max-height: 100vh !important;
      padding: 1rem 0 0 1rem;
    }

    .close-button {
      margin-left: -.75rem;

      &::before {
        color: text-color(light, icon);
        content: '\f057';
        font-family: FontAwesome;
      }
    }

    .results-count {
      color: text-color(light, secondary);
      padding-left: .25rem;
    }

    ol {
      display: block;
      line-height: $heading-line-height;
      list-style-position: inside;
      list-style-type: decimal;
      padding: 1rem;

      li {
        padding: 0 .8rem .8rem 0;

        a { color: $action-alternate-color; }
      }
    }
  }
}
