.social {
  @include grid-column(2);
  @include media('<large') { display: none; }
  font-size: $base-font-size * .9;
  text-align: right;

  li {
    display: inline-block;
  }

  a {
    color: text-color(light);
    margin-right: $small-spacing;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      text-shadow: text-color(light) 1px 1px 0;
    }
  }

  .fa-rss {
    &:hover,
    &:active,
    &:focus {
      color: #fa9d4a;
    }
  }

  .fa-twitter {
    &:hover,
    &:active,
    &:focus {
      color: #55acee;
    }
  }

  .fa-github {
    &:hover,
    &:active,
    &:focus {
      color: #4078c0;
    }
  }

  .fa-gitlab {
    &:hover,
    &:active,
    &:focus {
      color: #fca326;
    }
  }

  .fa-linkedin {
    &:hover,
    &:active,
    &:focus {
      color: #0077b5;
    }
  }
}
