.tags {
  li {
    @include padding(.25rem .5rem);
    background-color: $accent-color;
    border: 1px solid $divider-color;
    border-radius: $base-border-radius;
    display: inline-block;
    margin-right: $small-spacing;

    a {
      color: text-color(light);
      font-size: $base-font-size * .9;
      @include media('<large') { font-size: $base-font-size * .6; }
    }
  }
}

.post-footer .tags {
  margin-left: 1.5rem;
}

.tag-cloud {
  @include grid-column(10, $content-grid);
  @include grid-shift(1, $content-grid);
  @include margin(1rem null);

  a {
    @include margin(1rem 1rem null null);
    @include padding(.25rem .5rem);
    background-color: $accent-color;
    border: 1px solid $divider-color;
    border-radius: $base-border-radius;
    color: text-color(light);
    display: inline-block;
    font-size: $base-font-size * .9;

    &.set-1 { font-size: $base-font-size; }
    &.set-2 { font-size: $base-font-size * 1.2; }
    &.set-3 { font-size: $base-font-size * 1.4; }
    &.set-4 { font-size: $base-font-size * 1.6; }
    &.set-5 { font-size: $base-font-size * 1.8; }
  }
}
