.tooltip-item {
  display: inline-block;
  position: relative;
  text-align: center;

  &:focus .tooltip,
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip-content {
    color: $base-font-color;
    margin-bottom: 0;
  }

  .tooltip {
    @include position(absolute, null 0 3em);
    background-color: $base-background-color;
    box-shadow: rgba(#000, .2) 0 3px 8px;
    font-size: $base-font-size * .7;
    opacity: 0;
    padding: $small-spacing;
    text-align: center;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    visibility: hidden;
    width: 15em;
    z-index: 10;

    &::after {
      @include position(absolute, null 0 null);
      bottom: -1em;
      color: $base-background-color;
      content: '▼';
      font-size: 1.4em;
      text-align: center;
    }
  }
}

  // Special Tooltips
  .readtime .tooltip {

  }

  .tags .tooltip::after {
    text-align: left;
  }
