---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    {% include siteheader.html %}

    {% include menu.html %}

    <div class="content-wrapper">
      <div class="content">
        {{ content }}
      </div>
    </div>

    {% include sitefooter.html %}

    {% javascript main %}
  </body>

</html>
