---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>
